<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/articles">Home</a>
        <a href="/articles/new">New</a>
      </nav>
    </header>
    <main>
      <%- body %>
    </main>
  </body>
</html>
